@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #f1f1f1;
    font-size: 14px;
}

a, a:visited, a:link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

header {
    margin: 20px auto;
}

h1 a {
    color: #ff3c66 !important;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.search-button, .button-back, .button-pagination {
    cursor: pointer;
}

.heading-label {
    margin: 50px 0;
    font-weight: bold;
    color: lightgrey;
    text-transform: uppercase;
    text-align: center;
}

/*.p-small-bold {
    font-weight: bold;
}*/

#desktop li a.active, #mobile li a.active {
    color: #ff3c66;
    font-weight: bold;
}

header ul li {
    display: inline-block !important;
    margin: 5px 10px;
    list-style-type: none;
}

header ul {
   padding: 0;
   text-align: center;
}


#desktop li a:hover, #desktop li a:active {
    color: #ff3c66;
}

.search {
    float: right;
}

#SearchBar {
    margin: 0 10px;
}

.search-field {
    /*width: 80%;*/
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    background-color: #232323;
    color: #ffffff;
    margin: 0 5px;
}

.search-button {
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    background-color: #363636;
    color: #909090;
}

.search-button:hover {
   background-color: #232323;
}

#mobile {
    display: none;
}

footer {
    margin: 20px 0;
    font-size: 12px;
    margin: 75px 0;
}

.footer {
    text-align: center;
}

.footer p {
    color: #565656;
}

.movie-list {
    margin-bottom: 50px;
}

.image-poster {
    width: 100%;
    margin-bottom: 25px;
}

.image-poster:hover {
    transform: scale(1.05,1.05);
}

.image-text {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 86%;
    padding: 5px;
}

.image-poster:hover > .image-text {
    transform: scale(1.05,1.05);
    }

.movie-pagination {
    text-align: center;
}

.button-pagination {
    background-color: #363636;
    color: #ffffff;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 4px 8px;
}

.button-pagination:hover {
    background-color: #232323;
    cursor: pointer;
}

.label-pagination {
    font-weight: bold;
    padding: 0 20px;
}

/* COMMERCIAL */



#ImageCommerical {

}

/* SINGLE MOVIE PAGE */

.button-back {
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    background-color: #363636;
    color: #909090;
    margin-left: 135px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.button-back:hover {
    background-color: #232323;
}

.image-info {
    width: 60%;
    margin: 0 auto;
    display: inherit;
}

.single-details {
    width: 75%;
    margin: 15% auto;
}

.single-details h3 {
    margin: 35px 0 !important;
    text-align: left !important;
}

.p-undertitle {
    display: inline-block;
    padding: 0 5px;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0;
}

.no-movie {
    margin-top: 1rem;
}

.dot {
    font-size: 1rem;
    color: #f1f1f1;
}

.more-info {
    margin-top: 1.5rem;
}

.more-info p {
    font-size: 0.8rem;
   /* border: 0.5px solid #ff3c66;*/
    margin: 0.1rem 0;
}

.span-info {
    margin-right: 15px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.7rem;
    color: #ff3c66;
}

.label-info {
    font-size: 0.7rem;
}

.label-rated {
    background-color: #ffffff;
    padding: 1px 5px;
    color: #000;
    border-radius: 5%;
    font-size: 0.9rem;
}

/* SEARCH PAGE */

.not-found {
    text-align: center;
}

.search-h2 {
    margin: 50px 0;
    font-weight: bold;
    color: lightgrey;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}


/* Extra Small devices (landscape phones, 375px and down) */
@media only screen and (max-width: 375px) {

}

/* Extra Small devices (landscape phones, 425px and down) */
@media only screen and (max-width: 425px) {
    .search-field {
        width: 60%;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .search {
        text-align: center !important;
    }

    .site-logo {
        text-align: center !important;
    }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

}

/* Large devices (desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    header {
        margin-top: 120px;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: inline-block;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: black;
        padding: 20px 0;
    }

    #mobile ul li {
        display: inline-block !important;
        margin: 5px 10px;
        list-style-type: none;
    }

    #mobile ul {
        padding: 0;
        text-align: center;
    }

    .cat-nav-bot {
        position: fixed;
        bottom: 0px;
        text-align: center;
        z-index: 1;
        background-color: black;
        padding: 20px 0 5px;
        font-size: 12px;
    }

    .search {
        float: none;
        text-align: right;
    }

    .site-logo {
        text-align: left;
        margin-bottom: 25px;
    }
}

/* Extra large devices (large desktops, 1200px and down) */
@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 1em;
        text-transform: uppercase;
    }

    .p-small-bold {
        font-size: 12px;
    }
}

/* Extra, extra large devices (large desktops, 1440px and down) */
@media only screen and (max-width: 1440px) {


}

/* Extra large devices (large desktops, 1440px and up) */
@media (max-width: 425px) {
    .commercial img {
        width: 100%;
        height: 100px;
    }
}

/* Extra large devices (large desktops, 1440px and up) */
@media (max-width: 2560px) {

    h1 img {
        width: 45%;
    }

    .commercial {
        width: 100%;
        margin: 0 auto;
        position: relative;
        /*display:none;*/
    }

        .commercial h4 {
            text-align: center;
            position: absolute;
            top: 90px;
            left: 0;
            right: 0
        }

        .commercial img {
            width: 100%;
            height: 200px;
        }

    .footer .copy-streg {
        width: 130px;
        height: 0.5px;
        background-color: #565656;
        margin: 0 auto;
        margin-bottom: 15px;
    }

        .footer .copy {
            font-weight: bold;
        }
}